extends layout

block content
  body.greyBC
  .container.containerBorder
    br
    // Third Parallax Image with Portfolio Text
    .bgimg-3.w3-display-container.w3-opacity-min
      .w3-display-middle
        span.w3-xxlarge.w3-text-white.w3-wide Custom
    p Create a custom workout!
    form(method="post" action="saveWorkout")
      ol
        td
          input(type='text', name='Name',placeholder='Workout Name')
          input(type='text', name='Email',value=user.googleemail)
        li
            td
              input(type='text', name='Exercise1',placeholder='Exercise Name')
            td
              input(type='text', name='Timer1', placeholder='Timer')
            td
              input(type='text', name='Rec1', placeholder='Recommended Goal')
            td
              select(type='text', name='Category1')
                option(value='Total') Total Body
                option(value='Upper') Upper
                option(value='Lower') Lower
                option(value='Core') Core
        li
            td
              input(type='text', name='Exercise2',placeholder='Exercise Name')
            td
              input(type='text', name='Timer2', placeholder='Timer')
            td
              input(type='text', name='Rec2',placeholder='Recommended Goal')
            td
              select(type='text', name='Category2')
                option(value='Total') Total Body
                option(value='Upper') Upper
                option(value='Lower') Lower
                option(value='Core') Core
        li
            td
              input(type='text', name='Exercise3',placeholder='Exercise Name')
            td
              input(type='text', name='Timer3',placeholder='Timer')
            td
              input(type='text', name='Rec3',placeholder='Recommended Goal')
            td
              select(type='text', name='Category3')
                option(value='Total') Total Body
                option(value='Upper') Upper
                option(value='Lower') Lower
                option(value='Core') Core
        li
            td
              input(type='text', name='Exercise4',placeholder='Exercise Name')
            td
              input(type='text', name='Timer4',placeholder='Timer')
            td
              input(type='text', name='Rec4',placeholder='Recommended Goal')
            td
              select(type='text', name='Category4')
                option(value='Total') Total Body
                option(value='Upper') Upper
                option(value='Lower') Lower
                option(value='Core') Core
        li
            td
              input(type='text', name='Exercise5',placeholder='Exercise Name')
            td
              input(type='text', name='Timer5',placeholder='Timer')
            td
              input(type='text', name='Rec5',placeholder='Recommended Goal')
            td
              select(type='text', name='Category5')
                option(value='Total') Total Body
                option(value='Upper') Upper
                option(value='Lower') Lower
                option(value='Core') Core
        li
            td
              input(type='text', name='Exercise6',placeholder='Exercise Name')
            td
              input(type='text', name='Timer6',placeholder='Timer')
            td
              input(type='text', name='Rec6',placeholder='Recommended Goal')
            td
              select(type='text', name='Category6')
                option(value='Total') Total Body
                option(value='Upper') Upper
                option(value='Lower') Lower
                option(value='Core') Core
        li
            td
              input(type='text', name='Exercise7',placeholder='Exercise Name')
            td
              input(type='text', name='Timer7',placeholder='Timer')
            td
              input(type='text', name='Rec7',placeholder='Recommended Goal')
            td
              select(type='text', name='Category7')
                option(value='Total') Total Body
                option(value='Upper') Upper
                option(value='Lower') Lower
                option(value='Core') Core
        //tbody#customTable
      button(type='submit') Submit
      br
    //button(onclick='newrow()') Add a Workout

      br
    form(method="post" action="/deleteWorkout")
      ol
        each w in workout
          li
            input(name="workoutName" value=w._id type="checkbox")
            table
              tr
                th Workout Name: #{w.Name}
                th Email: #{w.Email}
              tr
                td Exercise Name: #{w.Exercise1}
                td Timer: #{w.Timer1}
                td Recommended Goal: #{w.Rec1}
                td Category: #{w.Category1}
              tr
                td Exercise Name: #{w.Exercise2}
                td Timer: #{w.Timer2}
                td Recommended Goal: #{w.Rec2}
                td Category: #{w.Category2}
              tr
                td Exercise Name: #{w.Exercise3}
                td Timer: #{w.Timer3}
                td Recommended Goal: #{w.Rec3}
                td Category: #{w.Category3}
              tr
                td Exercise Name: #{w.Exercise4}
                td Timer: #{w.Timer4}
                td Recommended Goal: #{w.Rec4}
                td Category: #{w.Category4}
              tr
                td Exercise Name: #{w.Exercise5}
                td Timer: #{w.Timer5}
                td Recommended Goal: #{w.Rec5}
                td Category: #{w.Category5}
              tr
                td Exercise Name: #{w.Exercise6}
                td Timer: #{w.Timer6}
                td Recommended Goal: #{w.Rec6}
                td Category: #{w.Category6}
              tr
                td Exercise Name: #{w.Exercise7}
                td Timer: #{w.Timer7}
                td Recommended Goal: #{w.Rec7}
                td Category: #{w.Category7}
          br
      input(type = "submit" value = "Delete Checked Workouts")
