doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

  body.background
    .w3-top
    #myNavbar.w3-bar
      a.w3-bar-item.w3-button.w3-hover-black.w3-hide-medium.w3-hide-large.w3-right(href='javascript:void(0);', onclick='toggleFunction()', title='Toggle Navigation Menu')
        i.fa.fa-bars
      a.w3-bar-item.w3-button(href='/')
        i.fa.fa-home
        |  HOME
      a.w3-bar-item.w3-button.w3-hide-small(href='/exerciseInfo')
        i.fa.fa-info-circle
        |  EXERCISE INFO
      a.w3-bar-item.w3-button.w3-hide-small(href='/preMade')
        i.fa.fa-th
        |   PRE-MADE ALL
      if loggedIn
        a.w3-bar-item.w3-button.w3-hide-small(href='/createIntervalWorkout')
          i.fa.fa-th
          |  CREATE CUSTOM
      //a.w3-bar-item.w3-button.w3-hide-small(href='/contact')
        //i.fa.fa-envelope
        //|  CONTACT
      a.w3-bar-item.w3-button.w3-hide-small(href='/about')
        i.fa.fa-universal-access
        |  ABOUT
      if loggedIn
        a.w3-bar-item.w3-button.w3-hide-small.w3-right.w3-hover-red(href='/logout')
          span.fa.fa-logout
          | Logout
        if status=='owner'
          a.w3-bar-item.w3-button.w3-hide-small(href='/admin')
            i.fa.fa-user
            |  ADMIN
      else
        a.w3-bar-item.w3-button.w3-hide-small.w3-right.w3-hover-red(href='/auth/google')
          span.fa.fa-google-plus
          | Login with Google

    // Navbar on small screens
    #navDemo.w3-bar-block.w3-white.w3-hide.w3-hide-large.w3-hide-medium
      a.w3-bar-item.w3-button(href='/about', onclick='toggleFunction()') ABOUT
      a.w3-bar-item.w3-button(href='/exerciseInfo', onclick='toggleFunction()') Exercise Info
      a.w3-bar-item.w3-button(href='/preMade', onclick='toggleFunction()') Pre-Made All
      a.w3-bar-item.w3-button(href='/createIntervalWorkout', onclick='toggleFunction()') Create Custom
      a.w3-bar-item.w3-button(href='/contact', onclick='toggleFunction()') CONTACT
      a.w3-bar-item.w3-button(href='/') SEARCH
    // Footer





    block content
    script(type='text/javascript').
      function newrow() {
      document.getElementById("customTable").innerHTML += "<tr><td><input type='text' name='workoutName' placeholder='Workout Name'></td><td><input type='text' name='email' value=user.googleemail></td><td><input type='text' name='timeDuration' placeholder='Time Durations'></td><td><input type='text' name='Difficulty' placeholder='Difficulty (1-5)'><td><input type='text' name='bodyFocus' placeholder='Body Focus'></td><td><input type='text' name='trainingType' placeholder='Training Type'></td><td><input type='text' name='equipment' placeholder='Equipment'></td><td><input type='text' name='exerciseDuration' placeholder='Exercise Duration'></td><td><button onclick='del(this)'>X</button></td></tr>";
      }
      function newrow2() {
      document.getElementById("customTable").innerHTML += "<tr><td><input type='text' name='workoutName' placeholder='Workout Name'></td><td><input type='text' name='email' value=user.googleemail></td><td><input type='text' name='Difficulty' placeholder='Difficulty (1-5)'><td><input type='text' name='bodyFocus' placeholder='Body Focus'></td><td><input type='text' name='trainingType' placeholder='Training Type'></td><td><input type='text' name='equipment' placeholder='Equipment'></td><td><input type='text' name='repetitions' placeholder='Repetitions'></td><td><button onclick='del(this)'>X</button></td></tr>";
      }
      function del(field) {
      field.parentNode.parentNode.outerHTML = "";
      }

      function onClick(element) {
      document.getElementById("img01").src = element.src;
      document.getElementById("modal01").style.display = "block";
      var captionText = document.getElementById("caption");
      captionText.innerHTML = element.alt;
      }
      // Change style of navbar on scroll
      window.onscroll = function() {myFunction()};
      function myFunction() {
          var navbar = document.getElementById("myNavbar");
          if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
              navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
          } else {
              navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
          }
      }
      // Used to toggle the menu on small screens when clicking on the menu button
      function toggleFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
      } else {
      x.className = x.className.replace(" w3-show", "");
      }
      }
      function myMap()
      {
      myCenter=new google.maps.LatLng(41.878114, -87.629798);
      var mapOptions= {
      center:myCenter,
      zoom:12, scrollwheel: false, draggable: false,
      mapTypeId:google.maps.MapTypeId.ROADMAP
      };
      var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);
      var marker = new google.maps.Marker({
      position: myCenter,
      });
      marker.setMap(map);
      }
      // Modal Image Gallery
      function onClick(element) {
      document.getElementById("img01").src = element.src;
      document.getElementById("modal01").style.display = "block";
      var captionText = document.getElementById("caption");
      captionText.innerHTML = element.alt;
      }
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap')
